// Reusable Components Styles
.button, 
button, 
input[type="submit"] {
    background-color: @text-color;
    color: @bg-color;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
        opacity: 0.9;
    }
}
