// Frontend Main Stylesheet
@bg-color: #ffffff;
@text-color: #333333;

// Imports
@import "frontend/_typography.less";
@import "frontend/_header.less";
@import "frontend/_menu.less";
@import "frontend/_components.less";

body {
    background-color: @bg-color;
    color: @text-color;
    font-family: @font-primary;
}